In [2]:
import requests
import re
import pandas as pd
import numpy as np
import datetime
import time
import warnings
import pickle
import sqlite3

import json

conn = sqlite3.connect("/home/buzzportal/crawling/opinion_outside.db")
cur = conn.cursor()

In [5]:
df = pd.read_pickle("dau_ttl.pickle")
print(df['DATA_TYPE'].unique())
df

['사용자수' '1인당평균사용시간' '총사용시간']

,NAME,RATIO,VALUE,ANDROID_RATIO,CATEGORY,YYYYMMDD,DATA_TYPE
0,토스,25.88,3635772,72.1,은행/뱅킹서비스,20220819,사용자수
1,카카오뱅크,17.15,2409378,72.5,은행/뱅킹서비스,20220819,사용자수
2,KB국민은행 스타뱅킹,16.37,2299446,76.9,은행/뱅킹서비스,20220819,사용자수
3,신한 쏠(SOL) – 신한은행 스마트폰뱅킹,13.56,1905037,75.6,은행/뱅킹서비스,20220819,사용자수
4,NH스마트뱅킹,11.47,1612095,79.1,은행/뱅킹서비스,20220819,사용자수
...,...,...,...,...,...,...,...
20,우리WON저축은행,1.06,120,100,저축은행,20220223,총사용시간
21,JT저축은행,0.90,102,100,저축은행,20220223,총사용시간
22,스마트저축은행 smart-i,0.84,95,100,저축은행,20220223,총사용시간
23,대신저축은행 스마트뱅크,0.77,87,84.9,저축은행,20220223,총사용시간
24,키움저축은행,0.53,60,100,저축은행,20220223,총사용시간